option_settings:
  - namespace:  aws:autoscaling:asg
    option_name:  MaxSize
    value:  1
  - namespace:  aws:elb:loadbalancer
    option_name:  CrossZone
    value:  false
  - namespace:  aws:elb:listener:80
    option_name:  ListenerProtocol
    value:  TCP
  - namespace:  aws:elb:policies:EnableProxyProtocol
    option_name:  InstancePorts
    value:  80
  - namespace:  aws:elb:policies:EnableProxyProtocol
    option_name:  ProxyProtocol
    value:  true
